#inputVue{
    display: flex;
    flex-direction: column;
    width: 98%;
    color: #767676;
    font-family: 'Nunito', sans-serif;

    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 3%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }
}

.inputNickname{
    margin: 5% 0 5% 0;
    width: 100%;
    color: #767676;
    font-family: 'Nunito', sans-serif;
    
    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 1%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }

}

.inputEmail{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #767676;
    font-family: 'Nunito', sans-serif;

    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 5%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }
}

.inputPhone{
    position: relative;
    right: 15%;
    width: 112%;
    color: #767676;
    font-family: 'Nunito', sans-serif;

    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 5%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }
}

.inputLinkedinSecondTab{
    display: flex;
    flex-direction: column;
    width: 98%;
    color: #767676;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 5%;
    margin-top: -35px;

    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 3%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }
}

.inputGithubSecondTab{
    display: flex;
    flex-direction: column;
    width: 98%;
    color: #767676;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 25%;

    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 3%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }
}

.inputsThirdTab{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25.5vw;
    color: #767676;
    font-family: 'Nunito', sans-serif;
    right: 10px;

    input{
        width: 100%;
        border: 2px solid #AAAAAA;
        outline: 0;
        border-radius: 5px;
        color: #767676;
        padding-left: 3%;
        height: 35px;

        &:focus{
            outline: 0;
        }
    }
}

#textLabel{
         display: flex;
        justify-content: end;
        align-items: center;
        height: 27px;

        p{
            margin-left: 32px;
            color:    #FF0000;
        }

}
.Input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 27px;
    width: 100%;
  
    p{
        color: #FF0000;
       margin-left: 32px;
    }

}
#textError{
    visibility: hidden;
}

#nameErro{
    visibility: hidden;
}

#emailError{
    visibility: hidden;
}

#gitError{
    visibility: hidden;
}

#teamNameError{
    visibility: hidden;
}
#institutinError{
    visibility: hidden;
}
#graduationError{
    visibility: hidden;
}
