.select-vue{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;;

    label{
        font-size: 16px;
        color: #AAAAAA;
    }

    select{
        color: #AAAAAA;
        border: solid 2px #AAAAAA;
        border-radius: 4px;
        height: 35px;
    }
}