.title-vue{
    font-size:30px;
    font-weight: 400;
    color:  #222;
}

#titleFirst{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-left: 7%;
    padding-bottom: 2%;
    margin: 0;
    border-bottom: 2px solid #AAAAAA;
}

#titleTeamSingUp{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-left: 32%;
}
