.button-vue{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 0;
    background: #074EE8;
    border-radius: 4px;
    height: 40px;
    width: 5vw;
    cursor: pointer;

    &:hover{
        background: #022a7a;
        transition: 0.5;
        font-size: 20px;
    }

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: 0;
        background: transparent;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        color: #ffffff;
        margin: 0 3px 0 3px;
        height: 40px;
        width: 60%;

        &:hover{
            cursor: pointer;
        }
    }

    i{
        &:hover{
            cursor: pointer;
        }
    }
}

#buttonNextFirstTab{
    position: relative;
    right: 34%;
}

#buttonNextSecondTab{
    position: relative;
    margin-top: 31px;
    right: 17%;    
}

#succesButton{
    margin-bottom: 31px;
}

