div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
#custom{
    color: #767676;
    font-family: 'Nunito', sans-serif;
    margin-bottom: -16px;

}

.text-vue{
    font-size:30px;
    font-weight: 400;
    color:  #767676;
    width: 100%;
}

#textForms{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-left: 7%;
    padding-top: 2%;
    margin: 0;
}

#textBasic{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 2.5px  #074EE8;
    text-align: center;
 
}

#textBasicSecondTab{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 1px  #AAAAAA;
    text-align: center;
  
}

#textSocial{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 1px  #AAAAAA;
    text-align: center;
    // test
    padding-bottom: 1px;
}

#textSocialSeconTab{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    border-bottom: solid 2.5px  #074EE8;
    text-align: center;
    padding-bottom: 1px;
   
  
}

#textCertificates{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 1px  #AAAAAA;
    text-align: center;
  
    padding-bottom: 1px;
}

#textCertificatesThirdTab{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 2.5px  #074EE8;
    text-align: center;
  }


#textBirthday{
    font-family: 'Nunito', sans-serif;
}

#age-box{
    border: #AAAAAA solid 2px;
    border-radius: 4px;
    color: #767676;
    height: 35px;
    font-family: 'Nunito', sans-serif;
}
#age-text{
   
  
    font-family: 'Nunito', sans-serif;
}

#succesTab{
    margin-left: 48px;
}
#succesTabTitle{
    margin-left: 48px;
}

#birthdayMessage{
    visibility: hidden;
    margin-left: -62px;
    margin-top: 20px;
}
#textNotMore{
    text-align: end;
    display: none;
}

#moreButton{
    text-align: end;
    display: none;
}
#textSuccessfully{
    margin-left: 46px;
}