.text-vue{
    font-size:30px;
    font-weight: 400;
    color:  #767676;
}

#textForms{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-left: 7%;
    padding-top: 2%;
    margin: 0;
}

#textBirthday{
    font-family: 'Nunito', sans-serif;
}